body{
	max-width:1100px;
	background-color:white;
	margin: auto;
	color: #3E2723;
}

header #img1{
	width: 1100px;
	height: 250px;
	background-image: url("Images/beans.jpg");
	background-size: 1100px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
	margin:0px;
	}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    font-family: 'Quicksand'
}

#menu li{
	float: left;
}

#menu li a {
	clear: both;
	border-top: 10px;
    display: block;
    padding-top:10px;
	padding-bottom: 10px;
    background-color: #3E2723;
    color: white;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
	font-size: 25px;
	font-family: 'Quicksand';
	padding-left: 82px;
	padding-right: 82px;
	color: white; 
    background-color: #3E2723;
    
}
#menu li a:hover{
	background-color: #8D6E63;
	color: #3E2723;
}

section #article1{
	max-width:500px;
	float:left;
	text-align: justify;
	font-size: 15px;
	font-family: 'Quicksand';
	font-weight: lighter;
	padding-bottom: 50px;
	padding-top: 50px;
	padding-left: 25px;
}

section #article2{
	max-width:500px;
	float:right;
	text-align: justify;
	font-size: 15px;
	font-family: 'Quicksand';
	font-weight: lighter;
	padding-bottom: 50px;
	padding-top: 50px;
	padding-right: 25px;
}

section h2{
	font-family: 'Quicksand';
	font-weight: bold;
	font-size: 25px;
}

footer {
	clear: both;
	border-top: 10px;
	padding-top:10px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-size: 15px;
	font-family: 'Quicksand';
	color: white;
	display: block; 
    background-color: #3E2723;

}