body {  
  max-width: 1000px;
  margin: 0 auto;
  background-size: 20px 20px;
  background-image: linear-gradient(to right, grey 0.5px, transparent 0.5px), linear-gradient(to bottom, grey 0.5px, transparent 0.5px);
}

#img1{
	display: block;
	margin-left: 3%;
  margin-top: 3%;
  margin-bottom: 1.5%;
  width: 10%;
}

#menu {
    list-style-type: none;
    overflow: hidden;
    border-bottom: 5px solid  #ffcc05;
    margin-left: 3%;
    margin-right: 3%;
}

#menu li a {
	color: #000;
	font-family: "Helvetica";
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
	display: inline-block;
    float: left;
    margin-left: 8%;
    margin-right: 6%;
    padding: 1%;  
}

#menu li a:hover{
	color: #ffcc05;
}

#img2 {
  margin-left: 6%;
  margin-right: auto;
  margin-top: 2%;
  border-bottom: 10px solid  #ffcc05;
}

#img2:hover {
    border-bottom: 10px solid  #000;
}

#div1 {
  margin: 5%;
}

#img3 {
    margin-left: 12%;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

#img3:hover{
    -webkit-filter: grayscale(100%)  contrast(100%) brightness(10%);
    filter: grayscale(100%) contrast(100%) brightness(10%); 
}
#img4 {
    margin-top: 2%;
    margin-left: 10%;
    border-bottom: 10px solid  #ffcc05;
    float: left;
}

h1{
    font-family: "Helvetica";
    color: #ffcc05;
    font-size: 6.1em;
    font-weight: bolder;
    float: left;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
}

h2{
    font-family: "Helvetica";
    font-size: 4.1em;
    font-weight: bolder;
    float: left;
    margin-top: 7.5%;
    margin-right: 5%;
    margin-left: 1%;
}

p{
  max-width: 60%;
  float: right;
  line-height: 2;
  margin: 5%;
  padding: 2%;
  background-color: #404040; 
  background-size: 20px 20px;
  background-image: linear-gradient(to right, #606060 0.5px, transparent 0.5px), linear-gradient(to bottom, #606060 0.5px, transparent 0.5px); 
  font-family:'Quicksand';
  font-size: 18px;
  font-weight: 100;
  color: white;
  text-align: justify;
}

aside a{
    font-family: "Helvetica";
    font-size: 1.5em;
    color: #ffcc05;
    font-weight: bolder;
    text-decoration: none;
    float: right;
    margin-top: 5%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-left: 5%; 
}

aside a:hover{
  color: #000;
}

audio{
  max-width: 90%;
  clear: both;
  text-align: center;
  padding: 10px;
  float: right;
  margin-right: 5%;

}

#hola li a{
  text-decoration: none;
  font-size: 15px;
  color: #000;
  display: block;
  padding: 6px;
  font-family: "Helvetica";
  font-weight: bolder;
  line-height: 2;
  color: #000;
  background-color: #ffcc05;
  list-style: none;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 60%;
  margin-bottom: 10%;
}

#hola li a:hover{
  background-color: #000;
  color: #ffcc05;
  margin-bottom: 10%;
}

#img5 {
  margin: 2%;
  border-bottom: 10px solid  #ffcc05;
}

#img5:hover {
  border-bottom: 10px solid  #000;
}

#div2 {
  margin: 6%;
}

footer {
  clear: both;
  background-color: #ffcc05;
  font-family: 'Helvetica';
  color: black;
  text-align: center;
  padding: 10px;
}

iframe{
  max-width: 60%;
  float: left;
  margin-top:2%;
  margin-left: 5%;
  margin-bottom: 2%;
}

#p1 {
  max-width: 23%;
  padding: 2%;
  margin-top: 2%;
  margin-right: 5%;
  float: right;
  background-color: #404040; 
  background-size: 20px 20px;
  background-image: linear-gradient(to right, #606060 0.5px, transparent 0.5px), linear-gradient(to bottom, #606060 0.5px, transparent 0.5px); 
  font-family:'Quicksand';
  font-size: 15px;
  font-weight: 100;
  color: white;
  text-align: justify;
  line-height: 2;
}








