body {
	max-width:990px;
	background-color:#000;
	margin: 0 auto;
	color: white;
	font-family: 'Amatic Sc';
}

img{
	display: block;
    margin: auto;
    margin-top: 10px;
    width: 150px;
    height: 150px;
    margin-bottom: 25px;
}

aside {
	max-width:250px;
	float: right;
	margin-top: 45px;
	font-size: 20px;
}

section {
	max-width:700px;
	float:left;
	padding:0;
	text-align: justify;
	font-size: 20px;
	margin-bottom: 45px;
	margin-top: 45px;
}

section article p{
	line-height: 35px;
	font-size: 25px;
}

h1{
	font-size: 60px;
	line-height: 80px
}

h2{
	font-size: 30px;
	line-height: 45px;
}

button{
	margin-top: 30px;
	margin-bottom: 45px;
	background-color: white;
    border: none;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}

footer {
	clear: both;
	border-top: 10px;
	padding-top:25px;
	font-size: 18px;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

#menu li{
	float: left;
}

#menu li a {
    display: block;
    color: black;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    padding: 6px;
    
}
#menu li a:hover{
	background-color: #000;
	color: white;
}

#hola { 
list-style:none;
margin-left:10px
font-size: 25px;
color: white;
}

#hola li a{
font-weight:bold;
margin-bottom:0;
font-size: 18px;
color: white;
display: block;
text-align: center;
text-decoration: none;
padding: 6px;
}

#hola li a:hover{
	background-color: white;
	color: black;
}

.menu, .hola{
text-decoration:none;
color: white;
}

button{
	font-family: 'Quicksand';

}



