body {
	max-width:990px;
	background-color:#000;
	margin: 0 auto;
	color: white;
	font-family: 'Amatic Sc';
}

#img1{
	display: block;
    margin: auto;
    margin-top: 2%;
    width: 15%;
    height: 15%;
    margin-bottom: 3%;
}

#img2{
	display: none;
}

#menu {
    list-style-type: none;
    margin-bottom: 5%;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

#menu li{
	float: left;
}

#menu li a {
    display: block;
    color: black;
    font-size: 35px;
    text-align: center;
    text-decoration: none;
    padding: 6px;
    
}
#menu li a:hover{
	background-color: #000;
	color: white;
}


aside {
	max-width:30%;
	float: right;
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 15px;
	font-size: 25px;
}

#hola { 
list-style:none;
margin-left:10px
color: white;
text-align: center;
}

#hola li a{
font-weight:bold;
margin-bottom:0;
color: white;
display: block;
text-align: center;
text-decoration: none;
padding: 6px;
}

#hola li a:hover{
	background-color: white;
	color: black;
}

.menu, .hola{
text-decoration:none;
color: white;
}

h1{
	font-size: 60px;
	line-height: 90px
}

h2{
	font-size: 40px;
	line-height: 65px;
}

section {
	max-width:70%;
	float:left;
	padding:0;
	text-align: justify;
	font-size: 20px;
	margin-bottom: 5px;
	margin-top: 15px;
	margin-right: 5px;
	margin-left: 15px;
}

section article p{
	line-height: 40px;
	font-size: 18px;
	font-family: 'Quicksand'
}

#img3{

	display: block;
	margin-bottom: 15px;
	margin-top: 15px;
	margin-right: 15px;
	margin-left: 25px;
	height: 70%;
	width: 90%;
}

#img4{

	display: block;
	margin-top: 30px;
	margin-bottom: 15px;
	margin-right: 15px;
	margin-left: 25px;
	height: 70%;
	width: 90%;
}

button{
	margin-top: 30px;
	margin-bottom: 45px;
	background-color: white;
    border: none;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}


button{
	font-family: 'Quicksand';

}

footer {
	clear: both;
	border-top: 10px;
	padding-top:25px;
	font-size: 18px;
	margin-bottom: 25px;
}

/*Responsive-Responsive-Responsive-Responsive*/

 @media screen and (max-width:600px) {

body{
	background-color: white;
	color: black;
	margin: 0 auto;
}

#img2{
	display: block;
    margin: auto;
    margin-top: 2%;
    width: 5%;
    height: 5%;
    margin-bottom: 3%;
    margin-left: 35%;
    margin-right: 30%;
}

#img1{
	display: none;
}

aside {
display: none;
}

section {
	max-width:100%;
	margin-left: 10%;
	margin-right: 10%;
}

h1{
	font-size: 1.65em;
	line-height:3em;
}

h2{
	font-size: 1.30em;
	line-height: 2em;
	font-weight: bold;
}

small{
	font-size: 0.90em;
}

p{
	margin-bottom: 4%;
}

section article p{
	line-height: 1.60em;
	font-size: 0.80em;
	float: right;
}


button{
	margin-top: 8%;
	margin-bottom: 12%;
	background-color: black;
    color: white;
}

footer {
	margin-right: 25%;
	margin-left: 35%;
	border-top: 10px;
	padding-top:25px;
}

#menu {
    background-color: black;
}

#menu li a {
    color: white;
}

#menu li a:hover{
	background-color: white;
	color: black;
}

#hola li br{ 
color: black;
}

#hola li a{
color: black;
text-align: center;
}

#hola li a:hover{
	background-color: black;
	color: white;
}

.menu, .hola{
color: white;
}





 }
    